body {
    background-image: url(pawel-czerwinski-1538545-unsplash.jpg);
}
.content {
height:200px;
width:300px;
margin: left;
}
.Overview {
    background-color: rgba(0,0,0,.15);
    padding: 5px;
    width: 700px;
}
.work-experience {
    background-color: rgba(0,0,0,.15);
    padding: 5px;
    width: 700px;
    height: 510px;
}
